<div class="header-container left">
	<div class="logo-containter">
		<a (click)="toggleSidebar()" class="navigation">
			<i class="nb-menu"></i>
		</a>
		<div class="logo" (click)="goToHome()">
			<img class="imgHeader" src="assets/images/teamLogo.png"/>
			<span>THE INVISIBLES</span>
		</div>
	</div>
	<ngx-theme-switcher></ngx-theme-switcher>
</div>

<nb-actions size="medium" class="header-container right">
	<nb-action>
		<nb-user [menu]="userMenu" [name]="user?.name" [picture]="'assets/images/teamLogo.png'" (menuClick)="onMenuClick($event)"></nb-user>
	</nb-action>
</nb-actions>
