nb-card{
width:90%;
height:90%;
border-radius:25px;
background:#73AD21;
padding:20px;
}
.column{
width:32%
}
.imgCard{
max-width:100%;
max-height:100%;
display:block;
margin-left:auto;
margin-right:auto;
}
.nbCardHeader{
color:black;
text-align:center;
}
 