<ngx-main-layout>
	<nb-menu [items]="menu"></nb-menu>
	<router-outlet>

		<div class="row">
			<nb-card class="nbCard">
				<nb-card-header class="nbCardHeader">
					<div class="logo">
						<h2 class="textCard">The Invincibles T-13</h2>
					</div>
				</nb-card-header>
				<nb-card-body>
					<h6 class="textCard">
						Reason why number 20 is special? Well, besides it being the "no-longer teen turning point" in anyone's life, 20 is, T-13. 20 software developer students working together, to present to you today this professional mini e-bay website. I will not deny that we faced difficulties learning a new programming language, but what made it happen, is the exquisite cooperation and harmony among us; teaching and learning from one another, especially from those of us who have an impressing background in development. Despite working with different characters and mindsets, we all acquired communication skills, patience and most importantly made friends! The friendly environment in our tutorial played a major part in feeling comfortable working with new people.
					</h6>
				</nb-card-body>
				<nb-card-footer> Ambitious, is what we are. Wait for us as we present the best SE project of the year. </nb-card-footer>
			</nb-card>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Gharam Zakaria <br>37-16221</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Gharam.jpg"/>
					</nb-card-body>
					<nb-card-footer>0102 23334532 .. 42 p.Sherman madenet Nasr way</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Ahmed Adel<br>37-19053</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Ahmed Adel Bayoumi.jpeg"/>
					</nb-card-body>
					<nb-card-footer>Passionate Back-End Developer Who Loves JS :heart:</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Marwa Gaser <br>37-10683</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/marwa gasser.jpg"/>
					</nb-card-body>
					<nb-card-footer>I would eat Juicy Lucy's Mince burger for living</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Mary Maher <br>37-12861</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/mary.jpg"/>
					</nb-card-body>
					<nb-card-footer>Ma n7ot soretna m3 b3d w n3ml thug life ya mary :joy::joy::joy:</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Sama Alshareef <br>37-0705</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Sama Elsherif.jpg"/>
					</nb-card-body>
					<nb-card-footer>I enjoy watching all kinds of sports.Pets are the closest to my heart</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Nada Saeed <br>37-11486</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Nada Saeed.jpg"/>
					</nb-card-body>
					<nb-card-footer>Want to live all my life travelling and go from a new place to another:heart_eyes::heart_eyes:</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Basma Afifi <br>37-620</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Basma Afif.jpg"/>
					</nb-card-body>
					<nb-card-footer>I just can't wait to become the greatest programmer out there</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Abdullah Khaled <br>37-5651</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/abdullah khaled.jpg"/>
					</nb-card-body>
					<nb-card-footer>I love discovering new coding techniques even if they are a pain to understand in the begining</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Nouran Sadek <br>37-2689</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Nouran Sadek.jpg"/>
					</nb-card-body>
					<nb-card-footer>I can spend my whole life eating pizza,dancing and coding without getting bored</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Rana Ezzat <br>37-6815 </h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Rana Ezzat.jpg"/>
					</nb-card-body>
					<nb-card-footer>Hair in a bun , tktktking mode on #tktktktk</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Ahmed Adel <br>37-18728</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Ahmed Adel.png"/>
					</nb-card-body>
					<nb-card-footer> just rest IN peace in a silent PLACE</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Nour El Din Yehia <br>37-14536</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Nour El Din Yehia.jpg"/>
					</nb-card-body>
					<nb-card-footer>Football is life not just a game, Ahly <3</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Ahmed Tarek<br>37-19027</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Ahmed Tarek.jpg"/>
					</nb-card-body>
					<nb-card-footer>Learn from yesterday :point_left: Live for today :point_down: Hope for tomorrow :point_up_2:</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Alaa Raed Dawood<br>37-13075</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Alaa Raed Dawood.jpg"/>
					</nb-card-body>
					<nb-card-footer>trying to survive this semster I love cs Trying to become a better person And work harder to have a better future</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Hazem Abdelalim<br>37-18002</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets\images\Hazem abdelalim.jpg"/>
					</nb-card-body>
					<nb-card-footer>“Mostly it is loss which teaches us about the worth of things.”</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Ahmed Sherif<br> 37-9406</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets\images\Ahmed sherif.jpg"/>
					</nb-card-body>
					<nb-card-footer>The best way to predicate your Future is to Create it</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Abdelrahman Mahmoud Elsaygh<br> 37-10305</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets\images\Abdelrahman Mahmoud Elsaygh.jpg"/>
					</nb-card-body>
					<nb-card-footer>nothing is impossible until you stop trying to achieve it “ this is my slogan in life</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Karim Alaa ElDine<br>37-8860</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Karim Alaa ElDine.jpg"/>
					</nb-card-body>
					<nb-card-footer>I like playing basketball And playing video games</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Mohamed Gabr<br>37-4083</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Mohamed Gabr.jpg"/>
					</nb-card-body>
					<nb-card-footer>An engineer to be..</nb-card-footer>
				</nb-card>
			</div>
			<div class="column">
				<nb-card class="nbCard">
					<nb-card-header class="nbCardHeader">
						<div class="logo">
							<h2 class="textCard">Nermin Ayman Mohsen<br>37-18156</h2>
						</div>
					</nb-card-header>
					<nb-card-body>
						<img class="imgCard" src="assets/images/Nermin.JPG"/>
					</nb-card-body>
					<nb-card-footer>I am always following the quote that says " Do it with passion, or not at all</nb-card-footer>
				</nb-card>
			</div>
		</div>
	</router-outlet>
</ngx-main-layout>
