.nbCard{
  width:90%;
  height:90%;
  border-radius:25px;
  background: linear-gradient(to top, rgba(0,255,0,0.2), rgba(0,255,0,1), rgba(0,255,0,0.3));
  padding:20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.column{
width:32%
}
.imgCard{
width:90%;
height:100%;
display:block;
margin-left:auto;
margin-right:auto;
overflow: hidden;
}
.nbCardHeader{
color:black;
text-align:center;
}
